{% extends 'base.html' %}
{%block content%}


<div class="container  p-4 d-flex flex-wrap gap-3 justify-content-around">
    {% for i in meals %}
    <div class="d-flex">
        <div class="card" style="width: 18rem;">
            <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.strMeal}}</h5>
                <p class="card-text">{{i.idMeal}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}